/* ==========================================
GOOGLE FONTS
 ========================================== */
 @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700&display=swap");
 :root {
   --font-display: "Poppins", sans-serif;
   --font-body: "Inter", sans-serif;
 }
 
 :root {
   --color-background: #f6f7f8;
   /* --gradient-background: ; */
   --color-accent: #bffd3b;
   --color-foreground: #464c5a;
   --color-heading: #020714;
   --color-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
 
   --color-primary-button: #020714;
   --color-primary-button-text: #fff;
   --color-primary-button-hover: #020714;
   --color-primary-button-hover-text: #fff;
   --color-primary-button-outline: #020714;
   --color-primary-button-outline-hover: #020714;
 
   --color-secondary-button: #fff;
   --color-secondary-button-text: #020714;
   --color-secondary-button-hover: #fff;
   --color-secondary-button-hover-text: #020714;
   --color-secondary-button-outline: #020714;
   --color-secondary-button-outline-hover: #020714;
 
   --color-link: #000;
   --color-input: #fff;
   --color-border: #e3e3e3;
   --color-input-outline: #e3e3e3;
   --color-placeholder: #464c5a;
 
   --color-badge-foreground: #020714;
   --color-badge-background: #bffd3b;
   --color-badge-border: #020714;
   /* --payment-terms-background-color:  */
 }
 
 /* ========================
  BASE CSS START
  ======================== */
 * {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: var(--font-body);
   line-height: 1.5;
   position: relative;
   background-color: var(--color-background);
 }
 ul,
 li,
 ol {
   list-style: none;
 }
 
 a {
   text-decoration: none;
   color: currentColor;
 }
 
 button {
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
 }
 
 svg,
 path {
   fill: currentColor;
   transition: all ease-in 0.3s;
   -webkit-transition: all ease-in 0.3s;
   -moz-transition: all ease-in 0.3s;
   -ms-transition: all ease-in 0.3s;
   -o-transition: all ease-in 0.3s;
 }
 
 img,
 video,
 iframe {
   max-width: 100%;
 }
 
 button,
 input {
   background: transparent;
   border: 0;
   outline: 0;
   display: inline-block;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: var(--font-display);
 }
 
 /* ========================
  UTILITIES SECTION START
  ======================== */
 .container {
   --container-px: 24px;
   width: calc(1440px + var(--container-px));
   padding-left: var(--container-px);
   padding-right: var(--container-px);
   margin: 0 auto;
 }
 .gy-24 {
   --bs-gutter-y: 24px;
 }
 .gy-32 {
   --bs-gutter-y: 32px;
 }
 .gy-30 {
   --bs-gutter-y: 30px;
 }
 .gx-30 {
   --bs-gutter-x: 30px;
 }
 .gx-24 {
   --bs-gutter-x: 24px;
 }
 .ml-auto {
   margin-left: auto;
 }
 .mr-auto {
   margin-right: auto;
 }
 
 .text-left {
   text-align: left;
 }
 .text-center {
   text-align: center;
 }
 .text-right {
   text-align: right;
 }
 
 .relative {
   position: relative;
 }
 
 .flex {
   display: flex;
 }
 
 .items-center {
   align-items: center !important;
 }
 
 .justify-center {
   justify-content: center !important;
 }
 
 .justify-end {
   justify-content: end !important;
 }
 
 .justify-start {
   justify-content: end !important;
 }
 
 /* ========================
  COMPONENTS SECTION START
  ======================== */
 p {
   font-size: 16px;
   color: var(--color-foreground);
   line-height: 1.5;
 }
 
 .primary-button,
 .secondary-button {
   display: flex;
   width: fit-content;
   align-items: center;
   padding: 12px 20px;
   gap: 4px;
   background: var(--color-primary-button);
   color: var(--color-primary-button-text);
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
 }
 
 .secondary-button {
   background: var(--color-secondary-button);
   color: var(--color-secondary-button-text);
 }
 
 .primary-button:hover {
   background: var(--color-primary-button-hover);
   color: var(--color-primary-button-hover-text);
 }
 
 .secondary-button:hover {
   background: var(--color-secondary-button-hover);
   color: var(--color-secondary-button-hover-text);
 }
 
 .marquee-slider {
   --slide-speed: 40s;
   display: flex;
   overflow: hidden;
 }
 
 .marquee-slide {
   flex-shrink: 0;
   flex-grow: 1;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   animation: marqueeSlide var(--slide-speed) infinite linear;
   -webkit-animation: marqueeSlide var(--slide-speed) infinite linear;
 }
 
 .marquee-slide > * {
   flex-shrink: 0;
   flex-grow: 1;
 }
 
 @keyframes marqueeSlide {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 
 /* =========================
   SECTION Caption 
   ========================== */
 .section-caption .section-heading {
   font-family: var(--font-display);
   font-style: normal;
   font-weight: 600;
   font-size: 80px;
   line-height: 120%;
   color: var(--color-heading);
 }
 
 .section-caption .section-heading span {
   color: var(--color-accent);
   -webkit-text-stroke: 2px var(--color-heading);
 }
 .section-caption .section-desc {
   font-family: var(--font-display);
   font-weight: 300;
   font-size: 24px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 
 /* ========================
   SWIPER MODULES
  ======================== */
 .swiper-navigation {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 
 .swiper-button-prev::after,
 .swiper-button-next::after {
   display: none;
 }
 
 .swiper-button-prev,
 .swiper-button-next {
   position: static;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 1px solid var(--color-primary-button-outline);
   color: var(--color-primary-button-outline);
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
 }
 
 .swiper-button-prev svg,
 .swiper-button-next svg {
   width: 20px;
   height: 20px;
 }
 
 .swiper-button-prev:hover,
 .swiper-button-next:hover {
   border-color: var(--color-primary-button-outline-hover);
   background: var(--color-primary-button-hover);
   color: var(--color-primary-button-hover-text);
 }
 
 .swiper-pagination {
   display: flex;
   align-items: center;
   gap: 12px;
   position: static;
 }
 
 .swiper-pagination span {
   width: 24px;
   height: 24px;
   border: 1px solid transparent;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 1;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
 }
 
 .swiper-pagination span::after {
   content: "";
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   background: var(--color-primary-button);
 }
 
 .swiper-pagination .swiper-pagination-bullet-active {
   border: 1px solid var(--color-primary-button);
 }
 
 /* ========================
  ANNOUNCE BAR START
  ======================== */
 .announcement-bar {
   position: absolute;
   z-index: 900;
   top: 0;
   width: 100%;
   --color-background: #020714;
   --color-foreground: #fff;
 }
 
 .announcement-bar-header {
   background: var(--color-background);
 }
 
 .announcement-bar-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 16px 0;
   color: var(--color-foreground);
   font-size: 14px;
 }
 
 .announcement-bar-social {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 
 .announcement-bar-social path {
   fill: var(--color-foreground);
 }
 
 .announcement-bar-social svg:hover path {
   fill: var(--color-accent);
 }
 
 .announcement-bar-toggler {
   --color-foreground: #ffff;
   color: var(--color-foreground);
   background: transparent;
   border: 1px solid var(--color-accent);
   font-family: var(--font-body);
   font-size: 14px;
   line-height: 1.5;
   padding: 4px 12px;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   margin-left: 16px;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 4px;
   line-height: 1.5;
 }
 .announcement-bar-toggler:hover,
 .announcement-bar-toggler:hover path {
   --color-foreground: #000;
   background: var(--color-accent);
   color: var(--color-foreground);
   fill: var(--color-foreground);
 }
 
 .announce-bar-swipper {
   height: 543px;
 }
 
 .announcement-bar-drawer {
   background: url("../images/announcement-bar/bg.png");
   background-position: center center;
   background-size: contain;
   position: absolute;
   z-index: -1;
   width: 100%;
   display: none;
   transition: all 0.6s ease-in-out;
   -webkit-transition: all 0.6s ease-in-out;
   -moz-transition: all 0.6s ease-in-out;
   -ms-transition: all 0.6s ease-in-out;
   -o-transition: all 0.6s ease-in-out;
 }
 .announcement-bar-drawer-wrapper {
   padding-top: 80px;
   padding-bottom: 80px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 24px;
   position: relative;
 }
 
 .announcement-bar-drawer-content {
   padding-left: 122px;
   color: var(--color-foreground);
 }
 
 .announcement-bar-drawer-content h6 {
   font-weight: 600;
   font-size: 24px;
   line-height: 150%;
 }
 
 .announcement-bar-drawer-content h3 {
   font-weight: 700;
   font-size: 100px;
   line-height: 100%;
   color: #bffd3b;
   padding-top: 12px;
   padding-bottom: 20px;
 }
 
 .announcement-bar-drawer-content p {
   padding-bottom: 48px;
 }
 
 .announcement-bar-drawer-images img {
   max-width: 524px;
 }
 
 .announcement-bar-drawer .swiper-navigation {
   --color-primary-button-outline: #fff;
   --color-primary-button-text: #fff;
   --color-primary-button: #fff;
   --color-primary-button-hover: #fff;
   --color-primary-button-hover-text: #020713;
   --color-primary-button-outline-hover: #fff;
 
   width: 100%;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   justify-content: space-between;
   z-index: 40;
 }
 
 /* ========================
  HEADER SECTION START
  ======================== */
 .header {
   --color-foreground: #fff;
   padding: 24px 0px;
   border-bottom: 1px solid rgb(255, 255, 255, 0.2);
   position: absolute;
   width: 100%;
   top: 60px;
   z-index: 20;
 }
 
 .header-logo {
   fill: var(--color-foreground);
 }
 .header-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .header-menu {
   display: flex;
   align-items: center;
   gap: 32px;
 }
 
 .header-menu li a {
   color: var(--color-foreground);
   font-size: 16px;
   display: flex;
   align-items: center;
   gap: 4px;
   font-family: var(--font-display);
 }
 
 .header-menu li.submenu a::after {
   content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="%23ffffff" viewBox="0 0 256 256"><path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path></svg>');
   display: block;
 }
 
 .header-btn-wrapper {
   display: flex;
   align-items: center;
   gap: 24px;
 }
 .header-btn-wrapper svg {
   width: 24px;
   height: 24px;
   fill: var(--color-foreground);
 }
 
 .header-btn-wrapper button:hover svg {
   width: 24px;
   height: 24px;
   fill: var(--color-accent);
 }
 
 .header-cart-btn {
   position: relative;
 }
 
 .header-cart-btn span {
   position: absolute;
   display: inline-block;
   background: var(--color-badge-background);
   border: 1px solid var(--color-badge-border);
   color: var(--color-badge-foreground);
   padding: 4px;
   font-size: 16px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   top: -10px;
   right: -10px;
   font-size: 12px;
   font-family: var(--font-display);
   line-height: 100%;
 }
 
 /* ========================
  HERO SECTION START
  ======================== */
 .hero-wrapper {
   --color-foreground: #fff;
   padding-top: 280px;
   padding-bottom: 155px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }
 
 .hero-heading {
   font-family: var(--font-display);
   font-style: normal;
   font-weight: 700;
   font-size: 120px;
   line-height: 110%;
   color: var(--color-foreground);
   text-shadow: 0px 0px 4px var(--color-shadow);
 }
 
 .hero-heading span {
   color: transparent;
   -webkit-text-stroke: 2px var(--color-foreground);
   text-shadow: transparent;
 }
 
 .hero-desc {
   font-size: 20px;
   line-height: 150%;
   color: var(--color-foreground);
   padding: 48px 0;
 }
 
 .hero-swiper-modules {
   position: absolute;
   bottom: 48px;
   z-index: 300;
   width: 100%;
 }
 
 .hero-swiper-modules {
   --color-primary-button: #fff;
   --color-primary-button-text: #fff;
   --color-primary-button-hover: #fff;
   --color-primary-button-hover-text: #020714;
   --color-primary-button-outline: #fff;
   --color-primary-button-outline-hover: #fff;
 }
 
 /* ========================
  PROMO SECTION START
  ======================== */
 .promo {
   background-image: url("../images/promo/promo-bg.png");
   background-position: left top;
   background-size: contain;
 }
 
 .promo-marquee-slider {
   background: var(--color-accent);
   padding: 16px;
 }
 
 .promo-marquee-slider li {
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   text-align: center;
   color: var(--color-heading);
   display: flex;
   align-items: center;
 }
 
 .promo-marquee-slider li::after {
   content: "☆";
   display: block;
   color: var(--color-heading);
   margin: 0px 60px;
 }
 
 .promo-marquee-slider li a {
   font-weight: 600;
   text-decoration: underline;
   margin-left: 8px;
 }
 
 .promo-wrapper {
   --color-border: #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0;
 }
 
 .promo-left {
   display: flex;
   align-items: center;
   gap: 12px;
   flex-shrink: 1;
   flex-grow: 0;
   margin-right: 147px;
 }
 
 .promo-video-wrapper {
   border-radius: 24px 200px 200px 24px;
   height: 100%;
   position: relative;
   overflow: hidden;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 
 .promo-video {
   width: 100%;
   height: 100%;
 }
 
 .promo-video-play-button {
   fill: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   padding: 16px;
   border: 1px solid #ffffff;
   border-radius: 100%;
   -webkit-border-radius: 1000%;
   -moz-border-radius: 1000%;
   -ms-border-radius: 1000%;
   -o-border-radius: 1000%;
 }
 
 .promo-video-play-button span {
   width: 60px;
   height: 60px;
   background: white;
   fill: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
 }
 
 .promo-right {
   display: flex;
   align-items: center;
   padding-right: 40px;
   gap: 40px;
 }
 .promo-list {
   display: flex;
   align-items: center;
   padding-right: 40px;
   --color-foreground: var(--color-heading);
   gap: 24px;
 }
 
 .promo-list li {
   text-align: center;
 }
 .promo-list p {
   text-align: center;
   padding-top: 12px;
 }
 
 .promo-caption {
   width: 241px;
   flex-shrink: 0;
 }
 
 .promo-caption .desc {
   font-size: 18px;
   font-weight: 500;
   padding-bottom: 16px;
   text-align: left;
 }
 /* ========================
  PROMO SECTION END
  ======================== */
 
 /* ========================
 Features Products START
  ======================== */
 .features-products {
   padding: 110px 0px;
 }
 .features-products .section-caption {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 60px;
 }
 
 .features-products-tabs-wrapper {
   padding: 4px 8px;
   background: var(--color-input);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
 }
 .features-products-tabs-wrapper .features-products-tabs {
   display: flex;
   align-items: center;
 }
 .features-products-tabs li a {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 16px 20px;
   gap: 10px;
   border-radius: 100px;
   background-color: transparent;
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 16px;
   line-height: 120%;
   color: var(--color-secondary-button-text);
 }
 .features-products-tabs li a:hover,
 .features-products-tabs .active a {
   background-color: var(--color-primary-button);
   color: var(--color-input);
 }
 .product-card {
   display: flex;
   flex-direction: column;
   cursor: pointer;
   transition: all 0.8s ease-in-out;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
 }
 .product-card-image {
   position: relative;
 }
 .product-card-image img {
   width: 100%;
   height: 444px;
   object-fit: cover;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
 }
 .product-card-image .tag-list {
   flex-direction: column;
   align-items: start;
   gap: 8px;
   position: absolute;
   top: 16px;
   left: 16px;
   display: none;
 }
 .product-card:hover .product-card-image .tag-list {
   display: flex;
 }
 .product-card-image .tag-list span {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px 8px;
   background: var(--color-primary-button);
   border-radius: 100px;
   color: var(--color-input);
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 12px;
   line-height: 150%;
 }
 .product-card-image .tag-list span:nth-child(2) {
   background: var(--color-accent);
   color: var(--color-primary-button);
 }
 .product-card-image .tag-list span:nth-child(3) {
   color: var(--color-primary-button);
   background: transparent;
   border: 1px solid var(--color-foreground);
 }
 .product-card-image .tag-list span:nth-child(4) {
   color: var(--color-input);
   border: 1px solid var(--color-foreground);
   background: var(--color-foreground);
 }
 .product-card-image .quick-view {
   position: absolute;
   top: 13px;
   right: 17px;
   width: 36px;
   height: 36px;
   background: var(--color-input);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   display: none;
   align-items: center;
   justify-content: center;
   cursor: pointer;
 }
 .product-card:hover .product-card-image .quick-view {
   display: flex;
 }
 .product-card-image .quick-view svg path {
   fill: var(--color-link);
 }
 .product-card-image .count-down {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   display: none;
 }
 .product-card:hover .product-card-image .count-down {
   display: block;
 }
 .product-card-image .count-down ul {
   display: flex;
   justify-content: center;
   padding: 4px 0;
   gap: 12px;
   background: #bffd3b;
   width: 100%;
 }
 .product-card-image .count-down ul li {
   font-family: var(--font-display);
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .product-card-image .count-down ul .time {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .product-card-image .size-box {
   position: absolute;
   bottom: 30px;
   left: 0;
   padding: 10px 11px;
   background: var(--color-input);
   border-radius: 10px;
   display: none;
   flex-direction: column;
   gap: 10px;
 }
 .product-card:hover .product-card-image .size-box {
   display: flex;
 }
 .size-box .heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .size-box .heading h3 {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .size-box .heading p {
   display: flex;
   align-items: center;
   gap: 8px;
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 .size-box .heading p span {
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .size-box .size-buttons-list-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .size-box .size-buttons-list-wrapper button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 6px 10px;
   border: 1px solid var(--color-border);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 12px;
   line-height: 100%;
   color: var(--color-foreground);
   transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
 }
 .size-box .size-buttons-list-wrapper button:hover,
 .size-box .size-buttons-list-wrapper .active {
   border: 1px solid var(--color-secondary-button-outline);
   color: var(--color-secondary-button-text);
 }
 .product-card-body {
   padding: 12px 6px;
   border-radius: 16px;
   display: flex;
   align-items: start;
   justify-content: space-between;
 }
 .product-card-body .product-card-content {
   display: flex;
   flex-direction: column;
   gap: 4px;
 }
 .product-card-content .colors ul {
   display: flex;
   align-items: center;
   gap: 8px;
   margin-bottom: 4px;
 }
 .product-card-content .colors ul li {
   position: relative;
   margin: 0px 2px;
 }
 
 .product-card-content .colors ul li span {
   display: none;
   justify-content: center;
   align-items: center;
   padding: 2px 8px;
   height: 22px;
   background: var(--color-badge-foreground);
   border-radius: 4px;
   position: absolute;
   top: -40px;
   left: -20px;
 }
 .product-card-content .colors ul li:hover span,
 .product-card-content .colors ul .active span {
   display: flex;
 }
 .product-card-content .colors ul li span::before {
   content: "";
   position: absolute;
   bottom: -4px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
   width: 11px;
   height: 11px;
   background: var(--color-badge-border);
   border-radius: 2px;
   -webkit-transform: translateX(-50%) rotate(45deg);
   -moz-transform: translateX(-50%) rotate(45deg);
   -ms-transform: translateX(-50%) rotate(45deg);
   -o-transform: translateX(-50%) rotate(45deg);
   z-index: -1;
 }
 .product-card-content .colors ul li .circle {
   width: 12px;
   height: 12px;
   background: #f6bd60;
   border-radius: 100px;
   position: relative;
 }
 .product-card-content .colors ul li .circle::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 20px;
   height: 20px;
   background: transparent;
   border: 1px solid #f6bd60;
   border-radius: 100px;
   display: none;
 }
 .product-card-content .colors ul li .circle:hover::before,
 .product-card-content .colors ul .active .circle::before {
   display: block;
 }
 .product-card-content .colors ul li:nth-child(2) .circle {
   background-color: var(--color-heading);
 }
 .product-card-content .colors ul li:nth-child(2) .circle::before {
   border: 1px solid var(--color-heading);
 }
 .product-card-content .colors ul li:nth-child(3) .circle {
   background-color: #f28482;
 }
 .product-card-content .colors ul li:nth-child(3) .circle::before {
   border: 1px solid #f28482;
 }
 .product-card-content .colors ul li:nth-child(4) .circle {
   background-color: #f5cac3;
 }
 .product-card-content .colors ul li:nth-child(4) .circle::before {
   border: 1px solid #f5cac3;
 }
 
 .product-card-title h2 {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   text-transform: capitalize;
   color: var(--color-badge-border);
 }
 .product-card-content .discount {
   display: flex;
   align-items: center;
   gap: 2px;
 }
 .product-card-content .discount span {
   font-family: var(--font-body);
   font-weight: 600;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-badge-foreground);
 }
 .product-card-content .discount .old-price {
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-foreground);
   text-decoration: line-through;
 }
 .product-card-body .product-card-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 36px;
   height: 36px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
 }
 .product-card-body .product-card-btn svg path {
   fill: var(--color-link);
 }
 /* ========================
 Features Products END
  ======================== */
 
 /* ========================
 Category Start
  ======================== */
 .category {
   background-image: url("../images/category/Category-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding-top: 40px;
   padding-bottom: 96px;
   display: flex;
   flex-direction: column;
   gap: 96px;
   overflow: hidden;
 }
 .category-header ul {
   display: flex;
   align-items: center;
   gap: 32px;
 }
 .category-header ul li {
   display: flex;
   align-items: center;
   gap: 32px;
   white-space: nowrap;
 }
 .category-header ul li .section-heading {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 60px;
   line-height: 100%;
   color: var(--color-heading);
 }
 .category-header ul li span {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 60px;
   line-height: 100%;
   color: var(--color-input);
   -webkit-text-stroke: 2px var(--color-badge-foreground);
 }
 .category-header ul li svg path {
   fill: transparent;
 }
 .category .category-list-wrapper {
   display: flex;
   flex-direction: column;
   gap: 24px;
 }
 .category-list-wrapper .category-list {
   display: flex;
   align-items: center;
   gap: 24px;
 }
 .category-list .category-card {
   display: flex;
   align-items: center;
   padding: 8px 40px 8px 8px;
   gap: 16px;
   background: var(--color-input);
   border: 1px solid var(--color-input);
   border-radius: 100px;
 }
 .category-card .category-card-image {
   width: 150px;
   border-radius: 100px;
 }
 .category-card .category-card-image img {
   width: 100%;
   border: 1px solid var(--color-primary-button);
   border-radius: 100px;
 }
 .category-card .category-card-content {
   display: flex;
   flex-direction: column;
   gap: 8px;
 }
 .category-card .category-card-content span {
   font-family: var(--font-display);
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   color: var(--color-foreground);
 }
 .category-card .category-card-content h4 {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   color: var(--color-heading);
 }
 /* ========================
 Category END
  ======================== */
 
 /* ========================
 New Arrival Start
  ======================== */
 .new-arrival {
   margin-top: 100px;
 }
 .new-arrival .section-caption {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 60px;
 }
 .new-arrival .section-caption .section-heading {
   font-family: var(--font-body);
   font-weight: 600;
   font-size: 180px;
   line-height: 100%;
   color: var(--color-heading);
 }
 .new-arrival .section-caption .section-heading span {
   color: transparent;
   -webkit-text-stroke: 2px var(--color-heading);
 }
 .new-arrival .new-arrival-product-card {
   display: flex;
   flex-direction: column;
   gap: 26px;
 }
 .new-arrival-product-card-image img {
   width: 100%;
   border-radius: 16px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   -ms-border-radius: 16px;
   -o-border-radius: 16px;
 }
 .new-arrival-product-card-content {
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding: 24px 24px 32px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
   border-radius: 16px;
 }
 .new-arrival-product-card-content h4 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 30px;
   line-height: 45px;
   color: var(--color-heading);
 }
 .new-arrival-product-card-content p {
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--color-foreground);
 }
 .new-arrival-product-card-button {
   margin-top: 28px;
 }
 .new-arrival .new-arrival-product-card-center {
   position: relative;
   margin-top: 130px;
 }
 .new-arrival-product-card-center img {
   width: 100%;
   height: 580px;
   border-radius: 16px;
   object-fit: cover;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   -ms-border-radius: 16px;
   -o-border-radius: 16px;
 }
 .new-arrival-product-card-center .new-arrival-product-card-body {
   position: absolute;
   bottom: 32px;
   left: 24px;
   z-index: 1;
   display: flex;
   flex-direction: column;
   gap: 12px;
 }
 .new-arrival-product-card-body h4 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 30px;
   line-height: 45px;
   color: var(--color-input);
   text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
 }
 .new-arrival-product-card-body p {
   width: 416px;
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--color-input);
 }
 .new-arrival-product-card-body .new-arrival-product-card-button {
   margin-top: 28px;
 }
 /* ========================
 New Arrival END
  ======================== */
 
 /* ========================
   Todays Trending  Start
  ======================== */
 .today-trending {
   padding: 110px 0px;
   background-color: var(--color-input);
   width: 100%;
 }
 .today-trending .section-caption {
   display: flex;
   align-items: end;
   justify-content: space-between;
   margin-bottom: 60px;
 }
 .today-trending .section-caption .slider-navigation {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 .section-caption .slider-navigation .slider-navigation-button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   width: 40px;
   height: 40px;
   border: 1px solid var(--color-heading);
   border-radius: 100px;
 }
 .section-caption .slider-navigation .slider-navigation-button:hover,
 .section-caption .slider-navigation .active {
   background-color: var(--color-badge-foreground);
 }
 .section-caption .slider-navigation .slider-navigation-button svg path {
   fill: var(--color-heading);
 }
 .section-caption .slider-navigation .slider-navigation-button:hover svg path,
 .section-caption .slider-navigation .active svg path {
   fill: var(--color-input);
 }
 /* ========================
   Todays Trending  END
  ======================== */
 
 /* ========================
   Grid Collage Gallery Start
  ======================== */
 .grid-collage-galler {
   padding: 110px 0px;
 }
 .collage-gallery-image img {
   width: 100%;
   cursor: pointer;
   border-radius: 24px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
 }
 .collage-gallery-image-small {
   position: relative;
   width: 100%;
   cursor: pointer;
   height: 280px;
 }
 .collage-gallery-image-small::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 275px;
   background: rgba(0, 0, 0, 0.6);
   border-radius: 24px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
   display: none;
 }
 .collage-gallery-image-small:hover:after,
 .active:after {
   display: block;
 }
 .collage-gallery-image-small img {
   width: 100%;
   border-radius: 24px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
 }
 .collage-gallery-content {
   position: absolute;
   bottom: 24px;
   left: 24px;
   /* display: flex; */
   flex-direction: column;
   gap: 2px;
   display: none;
   z-index: 1;
 }
 .collage-gallery-image-small:hover .collage-gallery-content,
 .active .collage-gallery-content {
   display: flex;
 }
 .collage-gallery-content h5 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 20px;
   line-height: 150%;
   color: var(--color-input);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .collage-gallery-content a {
   font-family: var(--font-body);
   font-weight: 600;
   font-size: 14px;
   line-height: 150%;
   text-decoration-line: underline;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 /* ========================
   Grid Collage Gallery END
  ======================== */
 
 /* ========================
 ContDown Banner  Start
  ======================== */
 .countDown-banner-wrapper .countDown-banner {
   background-image: url("../images/countDown-banner/banner-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   padding: 50px 122px;
   position: relative;
 }
 .countDown-banner-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 40px;
   width: 463px;
   padding: 48px 0px;
 }
 .countDown-banner-content .heading {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 9px;
 }
 .countDown-banner-content .heading span {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 15px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .countDown-banner-content .heading h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 30px;
   line-height: 140%;
   text-align: center;
   color: var(--color-heading);
 }
 .countDown-banner-content .Timmer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 12px;
 }
 .countDown-banner-content .Timmer span {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
   text-transform: capitalize;
   color: var(--color-heading);
 }
 .countDown-banner-content .Timmer ul {
   display: flex;
   align-items: center;
   text-align: center;
   gap: 16px;
 }
 .countDown-banner-content .Timmer ul li {
   display: flex;
   align-items: center;
   gap: 16px;
 }
 .Timmer ul li .countDown-timmer {
   display: flex;
   flex-direction: column;
   gap: 8px;
 }
 .Timmer ul li .countDown-timmer .timmer-box {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 9px;
   width: 60px;
   height: 56px;
   background: var(--color-input);
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
 }
 .Timmer ul li .countDown-timmer .timmer-box h5 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 30px;
   line-height: 100%;
   color: var(--color-heading);
 }
 .Timmer ul li .countDown-timmer span {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 12px;
   line-height: 100%;
   color: var(--color-heading);
 }
 .countDown-banner .slider-navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   left: 24px;
   right: 24px;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
 }
 .countDown-banner .slider-navigation .slider-navigation-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 1px solid var(--color-badge-foreground);
   border-radius: 100px;
 }
 .countDown-banner .slider-navigation .slider-navigation-btn:hover,
 .countDown-banner .slider-navigation .active {
   background-color: var(--color-heading);
 }
 .countDown-banner .slider-navigation .slider-navigation-btn svg path {
   fill: var(--color-link);
 }
 .countDown-banner .slider-navigation .slider-navigation-btn:hover svg path,
 .countDown-banner .slider-navigation .active svg path {
   fill: var(--color-input);
 }
 /* ========================
 ContDown Banner  END
  ======================== */
 
 /* ========================
    Count Down Product  Start
  ======================== */
 .count-down-product {
   padding: 110px 0px;
 }
 .count-down-product .count-down-product-card-wrapper {
   display: flex;
   align-items: center;
   gap: 24px;
 }
 .count-down-product-card {
   display: flex;
   align-items: center;
   gap: 40px;
   padding: 20px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 24px;
 }
 .count-down-product-card .count-down-product-card-image {
   position: relative;
 }
 .count-down-product-card-image img {
   width: 100%;
 }
 .count-down-product-card-image .discount {
   position: absolute;
   top: 20px;
   right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px 10px;
   background: var(--color-heading);
   border-radius: 100px;
 }
 .count-down-product-card-image .discount span {
   font-family: var(--font-body);
   font-weight: 600;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-input);
 }
 .count-down-product-card .count-down-product-card-body {
   display: flex;
   flex-direction: column;
   gap: 32px;
 }
 .count-down-product-card-body .count-down-product-card-body-content {
   display: flex;
   flex-direction: column;
 }
 .count-down-product-card-body-content .price {
   display: flex;
   align-items: center;
   gap: 4px;
 }
 .count-down-product-card-body-content .price span {
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .count-down-product-card-body-content .price .old-price {
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-foreground);
   text-decoration: line-through;
 }
 .count-down-product-card-body-content h2 {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 36px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .count-down-product-card-body-content .review {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 .count-down-product-card-body-content .review ul {
   display: flex;
   align-items: center;
   gap: 4px;
 }
 .count-down-product-card-body-content .review ul li svg path {
   fill: #d9651d;
 }
 .count-down-product-card-body-content .review .circle {
   width: 4px;
   height: 4px;
   background: var(--color-foreground);
   border-radius: 100px;
 }
 .count-down-product-card-body-content .review span {
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .count-down-product-card-body .size-variant {
   display: flex;
   flex-direction: column;
   gap: 8px;
 }
 .count-down-product-card-body .size-variant h4 {
   display: flex;
   align-items: center;
   gap: 4px;
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 .count-down-product-card-body .size-variant ul {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .size-variant ul li .size {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 6px 10px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 100px;
   cursor: pointer;
   transition: background 0.4s ease-in-out;
   -webkit-transition: background 0.4s ease-in-out;
   -moz-transition: background 0.4s ease-in-out;
   -ms-transition: background 0.4s ease-in-out;
   -o-transition: background 0.4s ease-in-out;
 }
 .size-variant ul li .size:hover,
 .size-variant ul li .active {
   background-color: var(--color-heading);
 }
 .size-variant ul li .size h5 {
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 12px;
   line-height: 100%;
   color: var(--color-foreground);
 }
 .size-variant ul li .size:hover h5,
 .size-variant ul li .active h5 {
   color: var(--color-input);
 }
 .count-down-product-card-body .color-variant {
   display: flex;
   flex-direction: column;
   gap: 8px;
 }
 .count-down-product-card-body .color-variant h4 {
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   color: var(--color-foreground);
   display: flex;
   align-items: center;
   gap: 4px;
 }
 
 .color-variant ul {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 .color-variant ul li .color-circle {
   width: 20px;
   height: 20px;
   background: #f6bd60;
   border-radius: 100px;
   position: relative;
   /*margin-right: 4px;
   */
   cursor: pointer;
   transition: all 0.8s ease-in-out;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
 }
 .color-variant ul li .active {
   margin: 0px 8px;
 }
 .color-variant ul li .color-circle::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
   width: 32px;
   height: 32px;
   border: 1px solid #f6bd60;
   border-radius: 100px;
 }
 .color-variant ul li .color-circle:hover:after,
 .color-variant ul li .active:after {
   display: block;
 }
 .color-variant ul li:nth-child(2) .color-circle {
   background-color: var(--color-heading);
 }
 .color-variant ul li:nth-child(2) .color-circle::after {
   border: 1px solid var(--color-heading);
 }
 .color-variant ul li:nth-child(3) .color-circle {
   background-color: #f28482;
 }
 .color-variant ul li:nth-child(3) .color-circle::after {
   border: 1px solid #f28482;
 }
 .color-variant ul li:nth-child(4) .color-circle {
   background-color: #f5cac3;
 }
 .color-variant ul li:nth-child(4) .color-circle::after {
   border: 1px solid #f5cac3;
 }
 .count-down-product-card-body .count-down {
   display: flex;
   flex-direction: column;
   gap: 4px;
 }
 .count-down-product-card-body .count-down p {
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 .count-down-product-card-body .count-down h3 {
   font-family: var(--font-body);
   font-weight: 600;
   font-size: 30px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .count-down-product-card-body .button-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .count-down-product-card-body .button-wrapper a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 100px;
   transition: all 0.8s ease-in-out;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
 }
 .count-down-product-card-body .button-wrapper a svg path {
   fill: var(--color-heading);
   transition: all 0.8s ease-in-out;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
 }
 .count-down-product-card-body .button-wrapper a:hover {
   background-color: var(--color-heading);
   border: none;
 }
 .count-down-product-card-body .button-wrapper a:hover svg path {
   fill: var(--color-input);
 }
 /* ========================
    Count Down Product  END
  ======================== */
 
 /* ========================
    Today Hot Deals  Start
  ======================== */
 .today-hot-deals {
   margin-bottom: 80px;
 }
 .today-hot-deals .today-hot-deals-card-wrapper {
   display: flex;
   align-items: center;
   gap: 2px;
 }
 .today-hot-deals-card-wrapper .today-hot-deals-card {
   background-image: url("../images/today-hot-deals/card-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 450px;
   height: 550px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   padding: 48px 40px 40px 32px;
   border-radius: 24px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
 }
 .today-hot-deals-card-content {
   display: flex;
   flex-direction: column;
 }
 .today-hot-deals-card-content h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 48px;
   line-height: 72px;
   color: var(--color-heading);
 }
 .today-hot-deals-card-content h3 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 48px;
   line-height: 62px;
   color: var(--color-accent);
   -webkit-text-stroke: 2px var(--color-heading);
 }
 .today-hot-deals-card-content p {
   font-family: var(--font-display);
   font-weight: 400;
   font-size: 18px;
   line-height: 150%;
   color: var(--color-heading);
   margin-top: 20px;
 }
 /* .today-hot-deals-card .today-hot-deals-card-btn {
   margin-top: 183px;
 } */
 .today-hot-deals .today-hot-deals-card-1 {
   position: relative;
   overflow: hidden;
 }
 .today-hot-deals .today-hot-deals-card-1 {
   width: 399px;
   height: 550px;
 }
 .today-hot-deals .today-hot-deals-card-1 img {
   width: 100%;
   height: 100%;
   border-radius: 24px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   -ms-border-radius: 24px;
   -o-border-radius: 24px;
   object-fit: cover;
 }
 .today-hot-deals-card-1 .discount-slider {
   position: absolute;
   left: calc(50% - 403px / 2 + 1px);
   bottom: 24px;
 }
 .today-hot-deals-card-1 .discount-slider ul {
   display: flex;
   align-items: center;
   gap: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 9px 0px;
   background: rgba(255, 255, 255, 0.8);
   white-space: nowrap;
 }
 .today-hot-deals-card-1 .discount-slider ul li {
   display: flex;
   align-items: center;
   gap: 20px;
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 16px;
   line-height: 100%;
   color: var(--color-link);
 }
 .today-hot-deals-card-1 .today-hot-deals-card-content {
   position: absolute;
   bottom: 70px;
   right: 23px;
 }
 .today-hot-deals-card-1 .today-hot-deals-card-content h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 80px;
   line-height: 100%;
   color: transparent;
   -webkit-text-stroke: 1px var(--color-input);
 }
 .today-hot-deals-card-2 {
   position: relative;
   width: 650px;
   height: 550px;
 }
 .today-hot-deals-card-2 img {
   width: 100%;
   height: 100%;
 }
 .today-hot-deals-card-2 .today-hot-deals-card-content {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   position: absolute;
   bottom: 32px;
   left: 32px;
   right: 32px;
 }
 .today-hot-deals-card-content .today-hot-deals-card-content-text {
   display: flex;
   flex-direction: column;
   gap: 4px;
 }
 .today-hot-deals-card-2
   .today-hot-deals-card-content
   .today-hot-deals-card-content-text
   h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 36px;
   line-height: 150%;
   color: var(--color-input);
 }
 .today-hot-deals-card-content .today-hot-deals-card-content-text p {
   width: 312px;
   font-family: var(--font-display);
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: var(--color-input);
 }
 .today-hot-deals-card-content-text .today-hot-deals-card-btn {
   margin-top: 32px;
 }
 .today-hot-deals-card-2 .today-hot-deals-card-content h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 80px;
   line-height: 100%;
   color: transparent;
   -webkit-text-stroke: 1px var(--color-input);
 }
 /* ========================
    Today Hot Deals  END
  ======================== */
 
 /* ========================
   Product Bundle Start
  ======================== */
 /* ========================
   Product Bundle END
  ======================== */
 
 /* ========================
   Features Start
  ======================== */
 .features {
   padding: 110px 0px;
 }
 .features .section-caption {
   margin-bottom: 60px;
 }
 .features .features-card {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 32px 24px;
   gap: 12px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 16px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   -ms-border-radius: 16px;
   -o-border-radius: 16px;
   cursor: pointer;
 }
 .features .features-card:hover,
 .features .active {
   background-color: var(--color-heading);
 }
 .features .features-card .features-card-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: -24px;
   right: 32px;
   width: 64px;
   height: 64px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 12px;
 }
 .features .features-card:hover .features-card-icon,
 .features .active .features-card-icon {
   background-color: var(--color-heading);
 }
 .features .features-card .features-card-icon svg path {
   fill: var(--color-link);
 }
 .features .features-card:hover .features-card-icon svg path,
 .features .active .features-card-icon svg path {
   fill: var(--color-input);
 }
 .features .features-card h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 60px;
   line-height: 78px;
   opacity: 0.4;
   color: transparent;
   -webkit-text-stroke: 2px var(--color-heading);
 }
 .features .features-card:hover h2,
 .features .active h2 {
   -webkit-text-stroke: 2px var(--color-input);
 }
 .features .features-card h3 {
   font-family: var(--font-display);
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 26px;
   color: var(--color-heading);
 }
 .features .features-card:hover h3,
 .features .active h3 {
   color: var(--color-input);
 }
 .features .features-card p {
   font-family: var(--font-display);
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 /* ========================
   Features END
  ======================== */
 
 /* ========================
   BeforeAfter Start
  ======================== */
 .before-after {
   background-image: url("../images/before-after/bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 900px;
   position: relative;
 }
 .before-after .before-after-content-left {
   position: absolute;
   top: 40px;
   left: 40px;
 }
 .before-after .before-after-content-left h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 60px;
   line-height: 78px;
   color: var(--color-input);
 }
 .before-after .before-after-content-right {
   position: absolute;
   top: 40px;
   right: 40px;
 }
 .before-after .before-after-content-right h2 {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 60px;
   line-height: 78px;
   color: var(--color-input);
 }
 .before-after .drag-button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .before-after .drag-button .drag-button-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 84px;
   height: 114px;
   background: #ffffff;
   border: 1px solid #e3e3e3;
   border-radius: 100px;
   cursor: pointer;
 }
 .before-after .drag-button .drag-button-icon::after{
   content: "";
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 width: 100px;
 height: 130px;
 left: calc(48% - 100px/2);
 top: calc(48% - 130px/2);
 border: 2px solid #FFFFFF;
 border-radius: 100px;
 
 }
 /* ========================
   BeforeAfter END
  ======================== */