/* ==========================================
GOOGLE FONTS
 ========================================== */
 @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700&display=swap");
 :root {
   --font-display: "Poppins", sans-serif;
   --font-body: "Inter", sans-serif;
 }
 
 :root {
   --color-background: #f6f7f8;
   /* --gradient-background: ; */
   --color-accent: #bffd3b;
   --color-foreground: #464c5a;
   --color-heading: #020714;
   --color-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
 
   --color-primary-button: #020714;
   --color-primary-button-text: #fff;
   --color-primary-button-hover: #020714;
   --color-primary-button-hover-text: #fff;
   --color-primary-button-outline: #020714;
   --color-primary-button-outline-hover: #020714;
 
   --color-secondary-button: #fff;
   --color-secondary-button-text: #020714;
   --color-secondary-button-hover: #fff;
   --color-secondary-button-hover-text: #020714;
   --color-secondary-button-outline: #020714;
   --color-secondary-button-outline-hover: #020714;
 
   --color-link: #000;
   --color-input: #fff;
   --color-border: #e3e3e3;
   --color-input-outline: #e3e3e3;
   --color-placeholder: #464c5a;
 
   --color-badge-foreground: #020714;
   --color-badge-background: #bffd3b;
   --color-badge-border: #020714;
   /* --payment-terms-background-color:  */
 }
 
 /* ========================
  BASE CSS START
  ======================== */
 * {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: var(--font-body);
   line-height: 1.5;
   position: relative;
   background-color: var(--color-background);
 }
 ul,
 li,
 ol {
   list-style: none;
 }
 
 a {
   text-decoration: none;
   color: currentColor;
 }
 
 button {
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
 }
 
 svg,
 path {
   fill: currentColor;
   transition: all ease-in 0.3s;
   -webkit-transition: all ease-in 0.3s;
   -moz-transition: all ease-in 0.3s;
   -ms-transition: all ease-in 0.3s;
   -o-transition: all ease-in 0.3s;
 }
 
 img,
 video,
 iframe {
   max-width: 100%;
 }
 
 button,
 input {
   background: transparent;
   border: 0;
   outline: 0;
   display: inline-block;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: var(--font-display);
 }
 
 /* ========================
  UTILITIES SECTION START
  ======================== */
 .container {
   --container-px: 24px;
   width: calc(1440px + var(--container-px));
   padding-left: var(--container-px);
   padding-right: var(--container-px);
   margin: 0 auto;
 }
 .gy-24 {
   --bs-gutter-y: 24px;
 }
 .gy-32 {
   --bs-gutter-y: 32px;
 }
 .gy-30 {
   --bs-gutter-y: 30px;
 }
 .gx-30 {
   --bs-gutter-x: 30px;
 }
 .gx-24 {
   --bs-gutter-x: 24px;
 }
 .ml-auto {
   margin-left: auto;
 }
 .mr-auto {
   margin-right: auto;
 }
 
 .text-left {
   text-align: left;
 }
 .text-center {
   text-align: center;
 }
 .text-right {
   text-align: right;
 }
 
 .relative {
   position: relative;
 }
 
 .flex {
   display: flex;
 }
 
 .items-center {
   align-items: center !important;
 }
 
 .justify-center {
   justify-content: center !important;
 }
 
 .justify-end {
   justify-content: end !important;
 }
 
 .justify-start {
   justify-content: end !important;
 }
 
 /* ========================
  COMPONENTS SECTION START
  ======================== */
 p {
   font-size: 16px;
   color: var(--color-foreground);
   line-height: 1.5;
 }
 
 .primary-button,
 .secondary-button {
   display: flex;
   width: fit-content;
   align-items: center;
   padding: 12px 20px;
   gap: 4px;
   background: var(--color-primary-button);
   color: var(--color-primary-button-text);
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
 }
 
 .secondary-button {
   background: var(--color-secondary-button);
   color: var(--color-secondary-button-text);
 }
 
 .primary-button:hover {
   background: var(--color-primary-button-hover);
   color: var(--color-primary-button-hover-text);
 }
 
 .secondary-button:hover {
   background: var(--color-secondary-button-hover);
   color: var(--color-secondary-button-hover-text);
 }
 
 .marquee-slider {
   --slide-speed: 40s;
   display: flex;
   overflow: hidden;
 }
 
 .marquee-slide {
   flex-shrink: 0;
   flex-grow: 1;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   animation: marqueeSlide var(--slide-speed) infinite linear;
   -webkit-animation: marqueeSlide var(--slide-speed) infinite linear;
 }
 
 .marquee-slide > * {
   flex-shrink: 0;
   flex-grow: 1;
 }
 
 @keyframes marqueeSlide {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 
 /* =========================
   SECTION Caption 
   ========================== */
 .section-caption .section-heading {
   font-family: var(--font-display);
   font-style: normal;
   font-weight: 600;
   font-size: 80px;
   line-height: 120%;
   color: var(--color-heading);
 }
 
 .section-caption .section-heading span {
   color: var(--color-accent);
   -webkit-text-stroke: 2px var(--color-heading);
 }
 .section-caption .section-desc {
   font-family: var(--font-display);
   font-weight: 300;
   font-size: 24px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 
 /* ========================
   SWIPER MODULES
  ======================== */
 .swiper-navigation {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 
 .swiper-button-prev::after,
 .swiper-button-next::after {
   display: none;
 }
 
 .swiper-button-prev,
 .swiper-button-next {
   position: static;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 1px solid var(--color-primary-button-outline);
   color: var(--color-primary-button-outline);
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
 }
 
 .swiper-button-prev svg,
 .swiper-button-next svg {
   width: 20px;
   height: 20px;
 }
 
 .swiper-button-prev:hover,
 .swiper-button-next:hover {
   border-color: var(--color-primary-button-outline-hover);
   background: var(--color-primary-button-hover);
   color: var(--color-primary-button-hover-text);
 }
 
 .swiper-pagination {
   display: flex;
   align-items: center;
   gap: 12px;
   position: static;
 }
 
 .swiper-pagination span {
   width: 24px;
   height: 24px;
   border: 1px solid transparent;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 1;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
 }
 
 .swiper-pagination span::after {
   content: "";
   display: block;
   width: 8px;
   height: 8px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   background: var(--color-primary-button);
 }
 
 .swiper-pagination .swiper-pagination-bullet-active {
   border: 1px solid var(--color-primary-button);
 }
 
 /* ========================
  ANNOUNCE BAR START
  ======================== */
 .announcement-bar {
   position: absolute;
   z-index: 900;
   top: 0;
   width: 100%;
   --color-background: #020714;
   --color-foreground: #fff;
 }
 
 .announcement-bar-header {
   background: var(--color-background);
 }
 
 .announcement-bar-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 16px 0;
   color: var(--color-foreground);
   font-size: 14px;
 }
 
 .announcement-bar-social {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 
 .announcement-bar-social path {
   fill: var(--color-foreground);
 }
 
 .announcement-bar-social svg:hover path {
   fill: var(--color-accent);
 }
 
 .announcement-bar-toggler {
   --color-foreground: #ffff;
   color: var(--color-foreground);
   background: transparent;
   border: 1px solid var(--color-accent);
   font-family: var(--font-body);
   font-size: 14px;
   line-height: 1.5;
   padding: 4px 12px;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   margin-left: 16px;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 4px;
   line-height: 1.5;
 }
 .announcement-bar-toggler:hover,
 .announcement-bar-toggler:hover path {
   --color-foreground: #000;
   background: var(--color-accent);
   color: var(--color-foreground);
   fill: var(--color-foreground);
 }
 
 .announce-bar-swipper {
   height: 543px;
 }
 
 .announcement-bar-drawer {
   background: url("../images/announcement-bar/bg.png");
   background-position: center center;
   background-size: contain;
   position: absolute;
   z-index: -1;
   width: 100%;
   display: none;
   transition: all 0.6s ease-in-out;
   -webkit-transition: all 0.6s ease-in-out;
   -moz-transition: all 0.6s ease-in-out;
   -ms-transition: all 0.6s ease-in-out;
   -o-transition: all 0.6s ease-in-out;
 }
 .announcement-bar-drawer-wrapper {
   padding-top: 80px;
   padding-bottom: 80px;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 24px;
   position: relative;
 }
 
 .announcement-bar-drawer-content {
   padding-left: 122px;
   color: var(--color-foreground);
 }
 
 .announcement-bar-drawer-content h6 {
   font-weight: 600;
   font-size: 24px;
   line-height: 150%;
 }
 
 .announcement-bar-drawer-content h3 {
   font-weight: 700;
   font-size: 100px;
   line-height: 100%;
   color: #bffd3b;
   padding-top: 12px;
   padding-bottom: 20px;
 }
 
 .announcement-bar-drawer-content p {
   padding-bottom: 48px;
 }
 
 .announcement-bar-drawer-images img {
   max-width: 524px;
 }
 
 .announcement-bar-drawer .swiper-navigation {
   --color-primary-button-outline: #fff;
   --color-primary-button-text: #fff;
   --color-primary-button: #fff;
   --color-primary-button-hover: #fff;
   --color-primary-button-hover-text: #020713;
   --color-primary-button-outline-hover: #fff;
 
   width: 100%;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   justify-content: space-between;
   z-index: 40;
 }
 
 /* ========================
  HEADER SECTION START
  ======================== */
 .header {
   --color-foreground: #fff;
   padding: 24px 0px;
   border-bottom: 1px solid rgb(255, 255, 255, 0.2);
   position: absolute;
   width: 100%;
   top: 60px;
   z-index: 20;
 }
 
 .header-logo {
   fill: var(--color-foreground);
 }
 .header-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .header-menu {
   display: flex;
   align-items: center;
   gap: 32px;
 }
 
 .header-menu li a {
   color: var(--color-foreground);
   font-size: 16px;
   display: flex;
   align-items: center;
   gap: 4px;
   font-family: var(--font-display);
 }
 
 .header-menu li.submenu a::after {
   content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="%23ffffff" viewBox="0 0 256 256"><path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path></svg>');
   display: block;
 }
 
 .header-btn-wrapper {
   display: flex;
   align-items: center;
   gap: 24px;
 }
 .header-btn-wrapper svg {
   width: 24px;
   height: 24px;
   fill: var(--color-foreground);
 }
 
 .header-btn-wrapper button:hover svg {
   width: 24px;
   height: 24px;
   fill: var(--color-accent);
 }
 
 .header-cart-btn {
   position: relative;
 }
 
 .header-cart-btn span {
   position: absolute;
   display: inline-block;
   background: var(--color-badge-background);
   border: 1px solid var(--color-badge-border);
   color: var(--color-badge-foreground);
   padding: 4px;
   font-size: 16px;
   border-radius: 100%;
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   -ms-border-radius: 100%;
   -o-border-radius: 100%;
   top: -10px;
   right: -10px;
   font-size: 12px;
   font-family: var(--font-display);
   line-height: 100%;
 }
 
 /* ========================
  HERO SECTION START
  ======================== */
 .hero-wrapper {
   --color-foreground: #fff;
   padding-top: 280px;
   padding-bottom: 155px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }
 
 .hero-heading {
   font-family: var(--font-display);
   font-style: normal;
   font-weight: 700;
   font-size: 120px;
   line-height: 110%;
   color: var(--color-foreground);
   text-shadow: 0px 0px 4px var(--color-shadow);
 }
 
 .hero-heading span {
   color: transparent;
   -webkit-text-stroke: 2px var(--color-foreground);
   text-shadow: transparent;
 }
 
 .hero-desc {
   font-size: 20px;
   line-height: 150%;
   color: var(--color-foreground);
   padding: 48px 0;
 }
 
 .hero-swiper-modules {
   position: absolute;
   bottom: 48px;
   z-index: 300;
   width: 100%;
 }
 
 .hero-swiper-modules {
   --color-primary-button: #fff;
   --color-primary-button-text: #fff;
   --color-primary-button-hover: #fff;
   --color-primary-button-hover-text: #020714;
   --color-primary-button-outline: #fff;
   --color-primary-button-outline-hover: #fff;
 }
 
 /* ========================
  PROMO SECTION START
  ======================== */
 .promo {
   background-image: url("../images/promo/promo-bg.png");
   background-position: left top;
   background-size: contain;
 }
 
 .promo-marquee-slider {
   background: var(--color-accent);
   padding: 16px;
 }
 
 .promo-marquee-slider li {
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   text-align: center;
   color: var(--color-heading);
   display: flex;
   align-items: center;
 }
 
 .promo-marquee-slider li::after {
   content: "☆";
   display: block;
   color: var(--color-heading);
   margin: 0px 60px;
 }
 
 .promo-marquee-slider li a {
   font-weight: 600;
   text-decoration: underline;
   margin-left: 8px;
 }
 
 .promo-wrapper {
   --color-border: #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0;
 }
 
 .promo-left {
   display: flex;
   align-items: center;
   gap: 12px;
   flex-shrink: 1;
   flex-grow: 0;
   margin-right: 147px;
 }
 
 .promo-video-wrapper {
   border-radius: 24px 200px 200px 24px;
   height: 100%;
   position: relative;
   overflow: hidden;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 }
 
 .promo-video {
   width: 100%;
   height: 100%;
 }
 
 .promo-video-play-button {
   fill: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   padding: 16px;
   border: 1px solid #ffffff;
   border-radius: 100%;
   -webkit-border-radius: 1000%;
   -moz-border-radius: 1000%;
   -ms-border-radius: 1000%;
   -o-border-radius: 1000%;
 }
 
 .promo-video-play-button span {
   width: 60px;
   height: 60px;
   background: white;
   fill: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
 }
 
 .promo-right {
   display: flex;
   align-items: center;
   padding-right: 40px;
   gap: 40px;
 }
 .promo-list {
   display: flex;
   align-items: center;
   padding-right: 40px;
   --color-foreground: var(--color-heading);
   gap: 24px;
 }
 
 .promo-list li {
   text-align: center;
 }
 .promo-list p {
   text-align: center;
   padding-top: 12px;
 }
 
 .promo-caption {
   width: 241px;
   flex-shrink: 0;
 }
 
 .promo-caption .desc {
   font-size: 18px;
   font-weight: 500;
   padding-bottom: 16px;
   text-align: left;
 }
 /* ========================
  PROMO SECTION END
  ======================== */
 
 /* ========================
 Features Products START
  ======================== */
 .features-products {
   padding: 110px 0px;
 }
 .features-products .section-caption {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 60px;
 }
 
 .features-products-tabs-wrapper {
   padding: 4px 8px;
   background: var(--color-input);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   -ms-border-radius: 100px;
   -o-border-radius: 100px;
 }
 .features-products-tabs-wrapper .features-products-tabs {
   display: flex;
   align-items: center;
 }
 .features-products-tabs li a {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 16px 20px;
   gap: 10px;
   border-radius: 100px;
   background-color: transparent;
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 16px;
   line-height: 120%;
   color: var(--color-secondary-button-text);
 }
 .features-products-tabs li a:hover,
 .features-products-tabs .active a {
   background-color: var(--color-primary-button);
   color: var(--color-input);
 }
 .product-card {
   display: flex;
   flex-direction: column;
   cursor: pointer;
   transition: all 0.8s ease-in-out;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
 }
 .product-card-image {
   position: relative;
 }
 .product-card-image img {
   width: 100%;
   height: 444px;
   object-fit: cover;
   border-radius: 12px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -ms-border-radius: 12px;
   -o-border-radius: 12px;
 }
 .product-card-image .tag-list {
   flex-direction: column;
   align-items: start;
   gap: 8px;
   position: absolute;
   top: 16px;
   left: 16px;
   display: none;
 }
 .product-card:hover .product-card-image .tag-list {
   display: flex;
 }
 .product-card-image .tag-list span {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px 8px;
   background: var(--color-primary-button);
   border-radius: 100px;
   color: var(--color-input);
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 12px;
   line-height: 150%;
 }
 .product-card-image .tag-list span:nth-child(2) {
   background: var(--color-accent);
   color: var(--color-primary-button);
 }
 .product-card-image .tag-list span:nth-child(3) {
   color: var(--color-primary-button);
   background: transparent;
   border: 1px solid var(--color-foreground);
 }
 .product-card-image .tag-list span:nth-child(4) {
   color: var(--color-input);
   border: 1px solid var(--color-foreground);
   background: var(--color-foreground);
 }
 .product-card-image .quick-view {
   position: absolute;
   top: 13px;
   right: 17px;
   width: 36px;
   height: 36px;
   background: var(--color-input);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   display: none;
   align-items: center;
   justify-content: center;
   cursor: pointer;
 }
 .product-card:hover .product-card-image .quick-view {
   display: flex;
 }
 .product-card-image .quick-view svg path {
   fill: var(--color-link);
 }
 .product-card-image .count-down {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   display: none;
 }
 .product-card:hover .product-card-image .count-down {
   display: block;
 }
 .product-card-image .count-down ul {
   display: flex;
   justify-content: center;
   padding: 4px 0;
   gap: 12px;
   background: #bffd3b;
   width: 100%;
 }
 .product-card-image .count-down ul li {
   font-family: var(--font-display);
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .product-card-image .count-down ul .time {
   font-family: var(--font-display);
   font-weight: 600;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .product-card-image .size-box {
   position: absolute;
   bottom: 30px;
   left: 0;
   padding: 10px 11px;
   background: var(--color-input);
   border-radius: 10px;
   display: none;
   flex-direction: column;
   gap: 10px;
 }
 .product-card:hover .product-card-image .size-box {
   display: flex;
 }
 .size-box .heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .size-box .heading h3 {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .size-box .heading p {
   display: flex;
   align-items: center;
   gap: 8px;
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-foreground);
 }
 .size-box .heading p span {
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: var(--color-heading);
 }
 .size-box .size-buttons-list-wrapper {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .size-box .size-buttons-list-wrapper button {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 6px 10px;
   border: 1px solid var(--color-border);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   font-family: var(--font-body);
   font-weight: 500;
   font-size: 12px;
   line-height: 100%;
   color: var(--color-foreground);
   transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
 }
 .size-box .size-buttons-list-wrapper button:hover,
 .size-box .size-buttons-list-wrapper .active {
   border: 1px solid var(--color-secondary-button-outline);
   color: var(--color-secondary-button-text);
 }
 .product-card-body {
   padding: 12px 6px;
   border-radius: 16px;
   display: flex;
   align-items: start;
   justify-content: space-between;
 }
 .product-card-body .product-card-content {
   display: flex;
   flex-direction: column;
   gap: 4px;
 }
 .product-card-content .colors ul {
   display: flex;
   align-items: center;
   gap: 8px;
   margin-bottom: 4px;
 }
 .product-card-content .colors ul li {
   position: relative;
   margin: 0px 2px;
 }
 
 .product-card-content .colors ul li span {
   display: none;
   justify-content: center;
   align-items: center;
   padding: 2px 8px;
   height: 22px;
   background: var(--color-badge-foreground);
   border-radius: 4px;
   position: absolute;
   top: -40px;
   left: -20px;
 }
 .product-card-content .colors ul li:hover span,
 .product-card-content .colors ul .active span {
   display: flex;
 }
 .product-card-content .colors ul li span::before {
   content: "";
   position: absolute;
   bottom: -4px;
   left: 50%;
   transform: translateX(-50%) rotate(45deg);
   width: 11px;
   height: 11px;
   background: var(--color-badge-border);
   border-radius: 2px;
   -webkit-transform: translateX(-50%) rotate(45deg);
   -moz-transform: translateX(-50%) rotate(45deg);
   -ms-transform: translateX(-50%) rotate(45deg);
   -o-transform: translateX(-50%) rotate(45deg);
   z-index: -1;
 }
 .product-card-content .colors ul li .circle {
   width: 12px;
   height: 12px;
   background: #f6bd60;
   border-radius: 100px;
   position: relative;
 }
 .product-card-content .colors ul li .circle::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 20px;
   height: 20px;
   background: transparent;
   border: 1px solid #f6bd60;
   border-radius: 100px;
   display: none;
 }
 .product-card-content .colors ul li .circle:hover::before,
 .product-card-content .colors ul .active .circle::before {
   display: block;
 }
 .product-card-content .colors ul li:nth-child(2) .circle {
   background-color: var(--color-heading);
 }
 .product-card-content .colors ul li:nth-child(2) .circle::before {
   border: 1px solid var(--color-heading);
 }
 .product-card-content .colors ul li:nth-child(3) .circle {
   background-color: #f28482;
 }
 .product-card-content .colors ul li:nth-child(3) .circle::before {
   border: 1px solid #f28482;
 }
 .product-card-content .colors ul li:nth-child(4) .circle {
   background-color: #f5cac3;
 }
 .product-card-content .colors ul li:nth-child(4) .circle::before {
   border: 1px solid #f5cac3;
 }
 
 .product-card-title h2 {
   font-family: var(--font-display);
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   text-transform: capitalize;
   color: var(--color-badge-border);
 }
 .product-card-content .discount {
   display: flex;
   align-items: center;
   gap: 2px;
 }
 .product-card-content .discount span {
   font-family: var(--font-body);
   font-weight: 600;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-badge-foreground);
 }
 .product-card-content .discount .old-price {
   font-family: var(--font-body);
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: var(--color-foreground);
   text-decoration: line-through;
 }
 .product-card-body .product-card-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 36px;
   height: 36px;
   background: var(--color-input);
   border: 1px solid var(--color-border);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
 }
 .product-card-body .product-card-btn svg path {
   fill: var(--color-link);
 }
 /* ========================
 Features Products END
  ======================== */
 